<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>BlueMap - Device Registration Form</title>
  <link rel="stylesheet" href="css/formStyle.css" type="text/css">
  </head>
  <body>
  	
  	<!-- Navigation bar -->
  	<nav ng-controller="navbarCtrl" class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header"><a href="" class="navbar-brand">BlueMap</a></div>
	    <ul class="nav navbar-nav">
	      <li><a href="">Home</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	      <li ng-show="session"><a><span class="glyphicon glyphicon-user"></span><span> {{session.username}}</span></a></li>
	      <li ng-show="session"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span><span> Logout</span></a></li>
	    </ul>
	  </div>
	</nav>
	<div ng-controller="mainCtrl">
		
  	<!-- View for registered devices -->
  	<div class="form-group col-md-4 img-rounded">
  		<div class="list-group">
    		<a class="list-group-item disabled title">Registered Devices</a>
    		<a href="" ng-repeat="device in devices" class="list-group-item" ng-click="onDeviceClick(device)">
    			<div>{{device.dvcKey}}</div>
    			<div>{{device.dvcName}}</div>
    		</a>
    		<a href="" class="list-group-item" ng-click="addNewDevice()">Add new device...</a>
  		</div>
	</div>
	
	<!-- Single device view -->
	<div class="form-group col-md-4 img-rounded" ng-show="selectedDevice && !editingDevice">
  		<div class="list-group">
    		<span class="list-group-item">
    			<h5><b>Device Key:</b> {{selectedDevice.dvcKey}}</h5>
    			<h5><b>Device Name:</b> {{selectedDevice.dvcName}}</h5>
    			<h5><b>Translations</b></h5>
    			<a class="list-group-item img-rounded" href="" ng-repeat="translation in selectedDevice.translations" ng-click="onTranslationClick(translation)"> {{translation.language}} </a>
    			<h5><b>Image URL:</b> {{selectedDevice.imageURL}}</h5>
    			<h5><b>Preview:</b> <img ng-show="selectedDevice.imageURL" ng-src="{{selectedDevice.imageURL}}"></h5>
    		</span>
  		</div>
  		<button ng-click="addNewTranslation(selectedDevice)" class="btn btn-primary">Add Translation</button>
  		<button ng-click="editingDevice = true" class="btn btn-warning">Edit Info</button>
  		<button ng-click="deleteDevice(selectedDevice)" class="btn btn-danger">Delete Device</button>
	</div>
		
	<!-- Editing device view -->
	<div class="form-group col-md-4 img-rounded" ng-show="selectedDevice && editingDevice">
  		<div class="list-group">
    		<span class="list-group-item">
   				<h5><b>Device Key:</b> {{selectedDevice.dvcKey}}</h5>
    			<h5><b>Device Name:</b></h5><input ng-model="selectedDevice.dvcName" class="form-control input-md">
    			<h5><b>Image URL:</b></h5><input ng-model="selectedDevice.imageURL" class="form-control input-md">
    		</span>
  		</div>
  		<button ng-click="saveEditedDevice(selectedDevice)" class="btn btn-primary">Save</button>
	</div>
	
	<!-- View for registering a new device -->
	<form class="form-group col-md-4" ng-show="!selectedDevice">
	<fieldset>
	<legend>Add new device</legend>
	<div class="form-group">
	  <label class="control-label" for="">Device Key</label>
	  <div>
	  <input ng-model="newDevice.dvcKey" id="" name="" type="text" placeholder="DVCXXXX" class="form-control input-md">
	  </div>
	</div>
	<div class="form-group">
	  <label class="control-label" for="">Device Name</label>  
	  <div >
	  <input ng-model="newDevice.dvcName" id="" name="" type="text" placeholder="Mona Lisa" class="form-control input-md">
	  </div>
	</div>
	<div class="form-group">
		<h5><b>Translations</b></h5>
		<a class="list-group-item" ng-repeat="translation in newDevice.translations"> {{translation.language}} </a>
		<a href="" class="list-group-item img-rounded" ng-click="addNewTranslation()">Add new translation...</a>
	</div>
	<div class="form-group">
	  <div>
	  	<button ng-click="newDevice = null" class="btn btn-warning">Reset Form</button>
	    <button ng-click="saveNewDevice(newDevice)" class="btn btn-primary">Submit</button>
	  </div>
	</div>
	</fieldset>
	</form>
	
	<!-- View for adding a new translation -->
	<form class="form-horizontal col-md-4" ng-show="addingTranslation">
	<fieldset>
	<legend>Add new translation</legend>
	<div class="form-group">
	  <label class="control-label" for="">Language Code</label>
	  <div>
	  <input ng-model="translation.language" id="" name="" type="text" placeholder="Eg: 'pt-br', 'en-us', etc." class="form-control input-md">
	  </div>
	</div>
	<div class="form-group">
	  <label class="control-label" for="">Title</label>  
	  <div>
	  <input ng-model="translation.title" id="" name="" type="text" placeholder="Mona Lisa" class="form-control input-md">
	  </div>
	</div>
	<div class="form-group">
	  <label class="control-label" for="">Description</label>  
	  <div>
	  <input ng-model="translation.content" id="" name="" type="text" placeholder="Mona Lisa" class="form-control input-md">
	  </div>
	</div>
	<div class="form-group">
	  <div>
	  	<button ng-click="translation = null" class="btn btn-warning">Reset Form</button>
	    <button ng-click="saveNewTranslation(translation)" class="btn btn-info">Done</button>
	  </div>
	</div>
	</fieldset>
	</form>
	</div>
  </body>
</html>